/*
colour palette
orange f07b3f
dark orange d65a31
grey eff3f6
*/

/***** GENERAL *****/
@font-face {
    font-family: 'Kano regular';
    src: url(fonts/Kano.otf);
}

* {
    font-family: 'Kano regular';
}

body {
    margin: 0;
    width: 100%;
}
/***** *****/
/***** INDEX PAGE *****/
#index #header-container {
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/food-header-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#index #header-content {
    padding-bottom: 50px;
}

#index #header-user {
    padding: 20px;
    display: block;
    text-align: right;
    margin-bottom: 18px;
}

#index #header-user button {
    background-color: #f07b3f;
    color: #ffffff;
    font-weight: bold;
    font-size: 15px;
    padding: 15px 50px;
    border: none;
    cursor: pointer;
    letter-spacing: 3px;
}

#index #header-user button:hover {
    background-color: #d65a31;
}

#index #header-user img {
    vertical-align: middle;
    height: 50px;
}

#index #header-text {
    color: #ffffff;
    text-align: center;
}

#index #header-text img {
    height: 250px;
}

#index #header-text h3 {
    font-weight: normal;
    font-size: 30px;
    margin: 35px 0;
}

#index #header-text input[type=text] {
    font-size: 20px;
    padding: 10px;
    width: 277px;
    transition: 0.3s;
    letter-spacing: 2px;
    border: none;
}

#index #header-text input[type=text]:focus {
    width: 450px;
}

#index #header-text button {
    background-color: #f07b3f;
    color: #ffffff;
    font-size: 16px;
    padding: 15px 50px;
    border: none;
    cursor: pointer;
    letter-spacing: 2px;
}

#index #header-text button:hover {
    background-color: #d65a31;
}

#index #featured-recipes-container {
    background-color: #eff3f6;
}

#index #featured-recipes-content {
    margin: 0 auto;
    width: 80%;
    padding: 40px 0 60px 0;
}

#index #featured-recipes-content h2 {
    margin: 0;
    margin-bottom: 20px;
    font-size: 28px;
}

#index #featured-recipe-flex-container {
    display: flex;
}

#index .featured-recipe-flex {
    flex: 25%;
}

#index .featured-recipe-flex #featured-recipe-1 {
    background-image: url(images/featured/japanese-chicken-curry-rice-square.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
    width: 95%;
}

#index .featured-recipe-flex:hover #featured-recipe-1 {
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(images/featured/japanese-chicken-curry-rice-square.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
    width: 95%;
}

#index .featured-recipe-flex #featured-recipe-2 {
    background-image: url(images/featured/fettuccine-alfredo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
    width: 95%;
}

#index .featured-recipe-flex:hover #featured-recipe-2 {
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(images/featured/fettuccine-alfredo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
    width: 95%;
}

#index .featured-recipe-flex #featured-recipe-3 {
    background-image: url(images/featured/salted-egg-chicken.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
    width: 95%;
}

#index .featured-recipe-flex:hover #featured-recipe-3 {
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(images/featured/salted-egg-chicken.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
    width: 95%;
}

#index .featured-recipe-flex #featured-recipe-4 {
    background-image: url(images/featured/caesar-salad-square.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
    width: 95%;
}

#index .featured-recipe-flex:hover #featured-recipe-4 {
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(images/featured/caesar-salad-square.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
    width: 95%;
}

#index .featured-recipe-flex a {
    text-decoration: none;
    color: #ffffff;
}

#index .featured-recipe-flex p {
    margin: 0;
    text-align: center;
    font-size: 20px;
    opacity: 0;
    line-height: 250px;
}

#index .featured-recipe-flex:hover p {
    opacity: 1;
}

#index #browse-container {
    padding: 40px;
}

#index #browse-container h2 {
    text-align: center;
    font-size: 30px;
    margin: 0;
}

#index #by-type-container {
    width: 90%;
    margin: 0 auto;
}

#index #by-type-container h3 {
    font-size: 23px;
    color: #f07b3f;
    margin: 25px 0 15x 0;
}

#index #type-flex-container {
    display: flex;
}

#index .type-flex {
    flex: 15%;
    text-align: center;
}

#index .type-flex img {
    width: 95%;
}

#index .type-flex a {
    text-decoration: none;
    color: #000000;
}

#index .type-flex p {
    font-size: 20px;
    margin: 10px 0;
}

#index #cuisine-flex-container {
    display: flex;
}

#index .cuisine-flex {
    padding: 0 15px;
}
/***** *****/

/***** Header CSS except index.html*****/
#header-container{
    background-color: #f07b3f;
    overflow: hidden;
    height: 75px;
}

#header-content{
    width: 100%; 
}

#header-left{
    width: 85%;
    height: 75px;
    float: left;
}

#header-left #logo{
    float: left;
    width: 15%;
    height: inherit;
}

#header-left #logo h1{
    line-height: 100%;
}

#header-left #search-bar{
    float: left;
    margin-bottom: 14px;
    margin-top: 15px;
    width: 50%;
}

#header-left #search-bar input{
    margin: 0;
    width: 100%;
    height: 40px;
    float: left;
}

#header-left #search-bar img{
    position: absolute;
    top: 30px;
    right:45%;
}

#header-left #search-by-food{
    width:35%;
    float:left;
    margin-top: 6px;
    margin-bottom: 5px;
}

#header-left #search-by-food h2{
    display: inline-block;
    line-height: 100%;
    margin-left: 15px;
    margin-right: 15px;
    float:left;
}

#header-left #button-by-food{
    float: left;
    margin-top: 21px;
    margin-bottom: 21px;
}
#header-right{
    width: 15%;
    height: 75px;
    float: left;
}

#header-right #upgrade-button{
    width: 50%;
    float: left;
    line-height: 75px;
}

#header-right #user-icon{
    width: 50%;
    float: left;
    line-height: 40px;
}

#header-right #user-icon img{
    margin: 10px;
}
/***** *****/

/***** RECIPES BY TYPE PAGE *****/
#recipes-flex-row {
    display: flex;
}

.recipes-flex {
    flex: 33%;
}
/***** *****/

/****** PREMIUM MEMBERSHIP *****/
#testimony-flex-container {
    display: flex;
}

.testimony-flex {
    margin: 0 15px;
}

.testimony-flex img {
    border-radius: 50%;
}
/***** *****/