#premium-account-container{

}

#premium-account-content-header-container{
    text-align: center;
    padding: 40px 0px;
    background-color: #eff3f6;
}

#premium-account-content-header{
    margin: 0;
    overflow: hidden;
    display: inline-block;
}

#premium-account-content-header #premium-account-logo{
    height: 20em;
    float: left;
}

#premium-account-content-header h3{
    font-size: 4em;
    padding: 0;
    margin: 120px 30px;
    margin-bottom: 0px;
    float: left;
    display: inline-block;
}

#premium-account-content-header h2{
    font-size: 5em;
    font-weight: bold;
    margin-top: 65px;
    margin-bottom: 0px;
    padding: 0;
    text-align: center;
    display: inline-block;
    float:left;
}

#premium-account-container > hr{
    margin:0 auto;
    width: 90%;
}

/***** Content Part *****/
#premium-account-text{
}

#premium-account-content-container{
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

#premium-account-content-container h3{
    font-size: 3em;
}

#premium-account-content-container p{
    font-size:1.6em;
    line-height:1.8em;
    border: 2px solid black;
    margin-bottom: 60px;
}

#premium-account-content-container > hr{
    width: 70%;
    height: 10px;
    border: 7px solid black;
    border-radius: 10px;
}

/*****  *****/

/***** Testimonies Division Style *****/
#testimony-flex-container {
    display: flex;
}

.testimony-flex {
    margin: 0 15px;
}

.testimony-flex img {
    border-radius: 50%;
}
/*****  *****/